*{
    margin: 0;
}

body{
    background-color: #6eb685;
}

ul{
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    background-color: #ddddbe;
    padding: 10px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition-duration: 0.5s;
}

li:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}

p{
    margin-top: 10px;
}