* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 10px;
}

h2 {
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: transparent;
    margin: 20px;
}

a {
    font-size: 50px;
    color: black;
}

#first {
    background-color: green;
}
#second {
    background-color: blue;
}
#third {
    background-color: orange;
}


